@model IEnumerable<FileManager.Models.IndexViewModel>

<link href="~/Styles/ManageRoles.css" rel="stylesheet" />
@{
    ViewBag.Title = "ManageRoles";
}

<h3>Users:</h3>
<table class="comicGreen">
    <thead>
        <tr>
            <th>User</th>
            <th>Role</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {

            <tr>
                <td class = "email"> @user.Email</td>
                @foreach (var role in user.Roles)
                {
                    <td>
                        @role
                    </td>
                }
                <td><a href="/Manage/AddRole?id=@user.Id">AddRole</a></td>
            </tr>

        }
    </tbody>
</table>

